{% extends "navbar.html" %}

{% block style %}
    <link rel="stylesheet" href="../static/recommend.css">
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="heading">Recommend Books</h1>
        <form action="/recommend_books" class="form-inline">
            <div class="form-group">
                <input name="user_input" type="text" class="form-control" placeholder="Enter book Name">
            </div>
            <button type="submit" class="btn">Recommend</button>
        </form>
        {% if data and data[0] != "Book not found"  %}
        <div class="grid-container">
            {% for i in data %}
                <div class="grid-item">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img" src="{{i[2]}}" alt="Book cover">
                            <p class="text-white">{{i[0]}}</p>
                            <h4 class="text-white">{{i[1]}}</h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if data and data[0] == "Book not found" %}
            <h1 id="Notfound">🔍Books Not Found📔</h1>
            <h2 id="Notfound">Please Try With Some other Book</h2>
        {% endif %}
        
    </div>
{% endblock %}
